.tox
.build
*.pyc
repositories/centos/*
repositories/ubuntu/*
*.rpm
*.md5
doc/build
deployment_scripts/puppet/modules/apt
deployment_scripts/puppet/modules/mariadbrepo
deployment_scripts/puppet/modules/stdlib
